@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@keyframes typing {
  0% {
    width: 0;
    /* Start from 0 width */
  }

  47.25% {
    width: 47.25%;
    /* Keep it full width at the end */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
    /* Blink effect */
  }
}

.animate-typing {
  display: inline-block;
  overflow: hidden;
  /* Ensures the text is hidden while typing */
  white-space: nowrap;
  /* Prevents text wrapping */
  border-right: 4px solid black;
  /* Cursor effect */
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
  /* Adjust steps based on text length */
  width: fit-content;
  /* Ensure it only takes the space of its content */
}